/* Arimo */
@font-face {
  font-family: "Arimo";
  src: url("../../../../g/fonts/arimo/arimo-r.eot");
  src: url("../../../../g/fonts/arimo/arimo-r-1.eot") format("embedded-opentype"), url("../../../../g/fonts/arimo/arimo-r.woff2") format("woff2"), url("../../../../g/fonts/arimo/arimo-r.woff") format("woff"), url("../../../../g/fonts/arimo/arimo-r.ttf") format("truetype"), url("../../../../g/fonts/arimo/arimo-r.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Arimo";
  src: url("../../../../g/fonts/arimo/arimo-i.eot");
  src: url("../../../../g/fonts/arimo/arimo-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/arimo/arimo-i.woff2") format("woff2"), url("../../../../g/fonts/arimo/arimo-i.woff") format("woff"), url("../../../../g/fonts/arimo/arimo-i.ttf") format("truetype"), url("../../../../g/fonts/arimo/arimo-i.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Arimo";
  src: url("../../../../g/fonts/arimo/arimo-b.eot");
  src: url("../../../../g/fonts/arimo/arimo-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/arimo/arimo-b.woff2") format("woff2"), url("../../../../g/fonts/arimo/arimo-b.woff") format("woff"), url("../../../../g/fonts/arimo/arimo-b.ttf") format("truetype"), url("../../../../g/fonts/arimo/arimo-b.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Arimo";
  src: url("../../../../g/fonts/arimo/arimo-b-i.eot");
  src: url("../../../../g/fonts/arimo/arimo-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/arimo/arimo-b-i.woff2") format("woff2"), url("../../../../g/fonts/arimo/arimo-b-i.woff") format("woff"), url("../../../../g/fonts/arimo/arimo-b-i.ttf") format("truetype"), url("../../../../g/fonts/arimo/arimo-b-i.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
/* \Arimo */
/* Cuprum */
@font-face {
  font-family: "Cuprum";
  src: url("../../../../g/fonts/cuprum/cuprum-r.eot");
  src: url("../../../../g/fonts/cuprum/cuprum-r-1.eot") format("embedded-opentype"), url("../../../../g/fonts/cuprum/cuprum-r.woff2") format("woff2"), url("../../../../g/fonts/cuprum/cuprum-r.woff") format("woff"), url("../../../../g/fonts/cuprum/cuprum-r.ttf") format("truetype"), url("../../../../g/fonts/cuprum/cuprum-r.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: url("../../../../g/fonts/cuprum/cuprum-i.eot");
  src: url("../../../../g/fonts/cuprum/cuprum-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/cuprum/cuprum-i.woff2") format("woff2"), url("../../../../g/fonts/cuprum/cuprum-i.woff") format("woff"), url("../../../../g/fonts/cuprum/cuprum-i.ttf") format("truetype"), url("../../../../g/fonts/cuprum/cuprum-i.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Cuprum";
  src: url("../../../../g/fonts/cuprum/cuprum-b.eot");
  src: url("../../../../g/fonts/cuprum/cuprum-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/cuprum/cuprum-b.woff2") format("woff2"), url("../../../../g/fonts/cuprum/cuprum-b.woff") format("woff"), url("../../../../g/fonts/cuprum/cuprum-b.ttf") format("truetype"), url("../../../../g/fonts/cuprum/cuprum-b.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cuprum";
  src: url("../../../../g/fonts/cuprum/cuprum-b-i.eot");
  src: url("../../../../g/fonts/cuprum/cuprum-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/cuprum/cuprum-b-i.woff2") format("woff2"), url("../../../../g/fonts/cuprum/cuprum-b-i.woff") format("woff"), url("../../../../g/fonts/cuprum/cuprum-b-i.ttf") format("truetype"), url("../../../../g/fonts/cuprum/cuprum-b-i.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
/* \Cuprum */
/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-t.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-t-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-t.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-t.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-t.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-t.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-t-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-t-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-t-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-t-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-t-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-t-i.svg") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-e-l.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-e-l-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-e-l.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-e-l.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-e-l.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-e-l.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-e-l-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-e-l-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-e-l-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-e-l-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-e-l-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-e-l-i.svg") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-l.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-l-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-l.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-l.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-l.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-l.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-l-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-l-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-l-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-l-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-l-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-l-i.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-r.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-r-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-r.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-r.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-r.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-r.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-i.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-m.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-m-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-m.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-m.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-m.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-m.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-m-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-m-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-m-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-m-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-m-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-m-i.svg") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-s-b.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-s-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-s-b.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-s-b.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-s-b.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-s-b.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-s-b-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-s-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-s-b-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-s-b-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-s-b-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-s-b-i.svg") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-b.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-b.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-b.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-b.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-b.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-b-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-b-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-b-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-b-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-b-i.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-e-b.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-e-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-e-b.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-e-b.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-e-b.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-e-b.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-e-b-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-e-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-e-b-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-e-b-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-e-b-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-e-b-i.svg") format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-bl.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-bl-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-bl.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-bl.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-bl.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-bl.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../g/fonts/montserrat/montserrat-bl-i.eot");
  src: url("../../../../g/fonts/montserrat/montserrat-bl-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/montserrat/montserrat-bl-i.woff2") format("woff2"), url("../../../../g/fonts/montserrat/montserrat-bl-i.woff") format("woff"), url("../../../../g/fonts/montserrat/montserrat-bl-i.ttf") format("truetype"), url("../../../../g/fonts/montserrat/montserrat-bl-i.svg") format("svg");
  font-weight: 900;
  font-style: italic;
}
/* \Montserrat */
/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-t.eot");
  src: url("../../../../g/fonts/roboto/roboto-t-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-t.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-t.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-t.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-t.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-t-i.eot");
  src: url("../../../../g/fonts/roboto/roboto-t-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-t-i.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-t-i.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-t-i.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-t-i.svg") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-l.eot");
  src: url("../../../../g/fonts/roboto/roboto-l-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-l.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-l.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-l.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-l.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-l-i.eot");
  src: url("../../../../g/fonts/roboto/roboto-l-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-l-i.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-l-i.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-l-i.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-l-i.svg") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-r.eot");
  src: url("../../../../g/fonts/roboto/roboto-r-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-r.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-r.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-r.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-r.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-i.eot");
  src: url("../../../../g/fonts/roboto/roboto-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-i.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-i.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-i.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-i.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-m.eot");
  src: url("../../../../g/fonts/roboto/roboto-m-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-m.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-m.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-m.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-m.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-m-i.eot");
  src: url("../../../../g/fonts/roboto/roboto-m-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-m-i.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-m-i.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-m-i.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-m-i.svg") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-b.eot");
  src: url("../../../../g/fonts/roboto/roboto-b-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-b.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-b.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-b.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-b.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-b-i.eot");
  src: url("../../../../g/fonts/roboto/roboto-b-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-b-i.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-b-i.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-b-i.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-b-i.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-bl.eot");
  src: url("../../../../g/fonts/roboto/roboto-bl-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-bl.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-bl.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-bl.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-bl.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../../g/fonts/roboto/roboto-bl-i.eot");
  src: url("../../../../g/fonts/roboto/roboto-bl-i-1.eot") format("embedded-opentype"), url("../../../../g/fonts/roboto/roboto-bl-i.woff2") format("woff2"), url("../../../../g/fonts/roboto/roboto-bl-i.woff") format("woff"), url("../../../../g/fonts/roboto/roboto-bl-i.ttf") format("truetype"), url("../../../../g/fonts/roboto/roboto-bl-i.svg") format("svg");
  font-weight: 900;
  font-style: italic;
}
/* \Roboto */
